body {
	background-color: #f9fafb;
	font-family: 'Montserrat', sans-serif;
}
.navbar-fixed{z-index: 1}
#loader{
	height: 100vh;
	width: 100vw;
	background-color: #f9fafb;
}
#loader div {
	margin: 40vh auto; 
	border-top: 16px solid #9c27b0;
	border-right: 16px solid #ff9800;
	border-bottom: 16px solid #ffc107;
	border-left: 16px solid #009688;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

nav{height: auto; box-shadow: none}
nav .nav-wrapper{
	width: 100%;
}
nav ul{
	display: flex;
	justify-content: center;
	margin: 2rem 0rem 2rem 0rem;
}
nav ul li a{color: #757575; }
nav ul li a:hover{
	background-color: white;
	color: black; 
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

section, footer{
	margin: 7%;	
}

.title{
	font-weight: 400;
	line-height: 1.5
}
.desc{
	font-weight: 300; 
	color: #424242;
	line-height: 2
}
.hover, .material-icons{cursor: pointer}
.hover:hover{
	background-color: #fbcd2b;
	-webkit-transition: background-color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in;
}

.first-block, .third-block {
	max-height: 60vh !important
}
.first-block .overlay-text{
	position: absolute;
	width: 45vw;
	top: 30%;
}
.first-block .imgDiv{background: #c0d2e7; width: 100%}
.first-block .imgDiv img{height: 50vh;}
.first-block span{
	border-bottom:solid 3px #fbcd2b 
}

.second-block>.row, .third-block>.row{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}
.second-block .col{
	padding: 3%;
	flex: 1
}

.third-block{min-height: 70vh}
.third-block .imgDiv{
	background: url("../images/two.jpg");
	min-height: 70vh;
	width: 100%
}
.third-block .overlay-text{
	padding: 7%;
	color: black;
	background-color: white;
	flex: 1;
	max-height: 50vh;
	align-self: flex-end;
	margin-left: -15%;
}
.third-block .overlay-text:hover{cursor: pointer}

.fifth-block .col{padding: 0;}
.fifth-block .col:first-of-type{padding-right: 4%}
.fifth-block .col:last-of-type{padding-left: 4%}
.fifth-block .text-div{
	background-color: white;
	padding: 7%
}
.fifth-block .text-div:hover{cursor: pointer}

footer hr{width: 80%}

#custom-sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 5; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}
#custom-sidenav .header{
	position: fixed;
	margin: 0;
	padding: 3rem 3rem 3rem 3%;
}
#custom-sidenav .desc{padding: 10rem 15rem 5% 5%; margin: 0}
#custom-sidenav h6{line-height: 2.5; color: rgb(36, 36, 36)}
#custom-sidenav a, #custom-sidenav a:visited{
	color: rgb(34, 34, 42);
	cursor: pointer;
}
#custom-sidenav a:hover, #custom-sidenav a:focus{color: rgb(58, 58, 63);}

@media screen and (max-width: 992px){
	nav .brand-logo{float: none !important}
	.nav-wrapper div{padding: 1rem}
	
	section, footer{
		margin: 0 7% 0 7%;
	}
	section:first-of-type{
		margin: 0
	}
	
	.first-block {
		max-height: auto !important
	}
	.first-block .overlay-text{
		position: relative;
		width: 100%;
		padding: 0% 7% 7% 7%
	}
	
	.second-block>.row, .third-block>.row{
		display: block
	}
	
	.third-block .imgDiv{min-height: 50vh}
	.third-block .overlay-text{margin: 0}
	
	.fifth-block .col{padding: 0 !important;}

	#custom-sidenav .desc, #custom-sidenav .header{padding: 5% 10% 5% 10%;}
	#custom-sidenav .desc h5:first-of-type{padding-top: 15%}
}